/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	background: Url(Body.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment:fixed;
}
span{
	display:flex;
}
/*Блоки Сайта*/
.content{
	position:relative;
	padding:44px;
}
.Logo{
	
}
.Text_logo{
	display:block;
	width:100%;
	z-index:0;
	text-align:center;
	font-family:comic sans ms;
	font-size:24px;
	color:#F90;
}
.Logobox{
	display:block;
	width: 100%;
	background:rgba(0,100,250,0.3);
	padding:1% 1%;
	box-shadow: 2px 3px 4px rgba(200,200,200,0.4);
	border-radius:0Px 0Px 100px 100px;
}
/*--------------------*/
/*Блоки Сенд бокса*/
.sendbox{
	padding:1% 0%;
	margin:1% 5%;
	background:rgba(150,150,150,150.5);
	box-shadow: 2px 4px 3px rgba(0,0,0,0.2);
	border-radius:26Px;
}
.Send{
	margin:0% 1%;
	background:rgba(0,0,0,0.6);
	box-shadow: 2px 4px 3px rgba(100,100,100,0.3);
	border-radius:16Px;
	margin-bottom:1%;
}
.Char{
}
.display{
	padding:0% 1%;
	display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
	align-content: stretch;
	justify-content: center;
	text-align:center;
	border-radius:16Px;
	padding-top:1%;
}
.nik{
	padding:1% 1%;
	font-family: comic sans ms;
	font-size:24px;
	width: 19%;
	background:rgba(255,100,0,0.3);
	color:#FFF; 
	text-shadow: 4px 8px 6px rgba(0,0,0,0.4); 
}
.name{
	display:block;
	width: 100%;
	height: 60%;
	background:rgba(0,0,0,0.6);
	margin: 0% 0%;
	padding:1% 0%;
	border-radius:16Px;
	
}
.Data{
	background:rgba(0,100,255,0.3);
	padding:1% 1%;
	font-family: comic sans ms;
	font-size:16px;
	width: 20%;
	color:#FFF; 
	text-shadow: 4px 8px 6px rgba(0,0,0,0.4); 
}
.LvL{
	display:block;
	width: 100%;
	background:rgba(0,0,0,0.6);
	margin: 0% 0%;
	padding:1% 0%;
	border-radius:16Px;
}
.class{
	display:block;
	width: 100%;
	background:rgba(0,0,0,0.6);
	margin: 1% 0%;
	padding:1% 0%;
	border-radius:16Px;
}
.SP{
	display:block;
	width: 100%;
	background:rgba(0,0,0,0.6);
	margin: 0% 0%;
	padding:1% 0%;
	border-radius:16Px;
}
.Comment{
	background:rgba(255,255,0,0.3);
	padding:1% 1%;
	font-family: comic sans ms;
	font-size:18px;
	flex-grow: 1;
	text-align:center;
	color:#FFF; 
	text-shadow: 4px 8px 6px rgba(0,0,0,0.4); 
}
.TEG{
	display:block;
	width: 100%;
	height: 60%;
	background:rgba(0,0,0,0.6);
	margin: 0% 0%;
	padding:1% 0%;
	border-radius:16Px;
	
}
.Inventory{
	
}
.InvBox{
	padding:0% 1%;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-between;
	border-radius:16Px;
	color:#0F0;	
}
.Gear{
	padding:1% 1%;
	font-family: comic sans ms;
	font-size:16px;
	width: 25%;
	background:rgba(0,0,250,0.3);
	text-shadow: 4px 8px 6px rgba(0,0,0,0.4);
	text-align: center;
}
.ItemTeg{
	display:block;
	width: 100%;
	background:rgba(0,0,0,0.8);
	margin: 0% 0%;
	padding:2% 0%;
	border-radius:16Px;
	color:#FF0;
	
}
.Item{
	display:block;
	width: 100%;
	background:rgba(0,0,0,0.6);
	margin: 1% 0%;
	padding:2% 0%;
	border-radius:16Px;
}
.ItemLvL{
	display:block;
	width: 100%;
	background:rgba(0,0,0,0.6);
	margin: 1% 0%;
	padding:2% 0%;
	border-radius:16Px;
}
.Trigram{
}
.Gear2{
	padding:1% 1%;
	font-family: Arial;
	font-size:16px;
	width: 25%;
	background:rgba(0,0,250,0.3);
	text-shadow: 4px 8px 6px rgba(0,0,0,0.4);
	text-align: center;
}
.InvBox2{
	padding:0% 1%;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-between;
	border-radius:16Px;
	color:#0F0;	
}
.Inform{

}
.Gear3{
	padding:1% 1%;
	font-family: Arial;
	font-size:16px;
	width: 20%;
	background:rgba(0,0,250,0.3);
	text-shadow: 4px 8px 6px rgba(0,0,0,0.4);
	text-align: center;
}
.InvBox3{
	padding:0% 1%;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-between;
	border-radius:16Px;
	color:#0F0;	
	padding-bottom:1%;
}
/*--------------------*/
/*Адаптация для блоков Сенд бокса*/
@media screen and (max-width: 1023px) {
	body{
		
		
	}
	.Text_logo{
		border-radius:16Px;
	}
	.nik{
		width: 40%;
		font-size:24px;
	}
	.Data{
		width: 35%;
		font-size:16px;
   }
   .Comment{
	  font-size:20px;
   }  
   .InvBox{
	  
   }
   .TEG{
	   height: 100%;
   }
   .Gear{
	width: 50%;   
	font-size:16px;  
   }
   .Gear2{
	width: 50%;   
	font-size:16px;  
   }
   .Gear3{
	width: 20%;   
	font-size:16px;  
   }
}
@media screen and (max-width: 767px) {
	body{
		background:#000;
	}
	.Text_logo{
		border-radius:12Px;
	}
	.display{
		display:block;
		line-height: 1.1;
	}
	.nik{
		width: 100%;
		font-size:16px;
	}
	.Data{
		width: 100%;
		font-size:12px;
   }
   .Comment{
	  width: 100%; 
	  font-size:10px;
   }
   .Inventory{
	   width: 100%;
   }
	.InvBox{
		
	}	
   .Gear{
	   width: 100%;
	   font-size:12px;
   }
   .Gear2{
	   width: 100%;
	   font-size:12px;
   }
   .Gear3{
	   width: 100%;
	   font-size:12px;
   }
   .Item{
	
	}
	.ItemLvL{
	
	}
}
/*--------------------*/