 *{
	 transition: all 0.3s;
 }
*::selection{
	background:#000;
	color:#FFF;
 }
*::-webkit-scrollbar {
	width: 15px; 
} 
*::-webkit-scrollbar-track { 
	border-radius: 15px 15px 15px 15px;
	transition: all 0.3s;
} 
*::-webkit-scrollbar-track:hover {
	border-bottom: 1px solid #105;
	background: rgba(90,90,240,0.7);
} 
*::-webkit-scrollbar-thumb { 
	background: #F90; 
	border-radius: 15px 15px 15px 15px; 
	transition: all 0.7s;
}
*::-webkit-scrollbar-thumb:hover { 
  background: #FF0; 
  
}
 
body{
	background:#EEE;
	word-break: break-all;
}

a{
	text-decoration: none;
	color: #F90;
	text-shadow:2px 3px #410;
	padding:3px;
}
a:hover{
	text-decoration: none;
	color: #FFF;
	text-shadow:1px 2px #333,
				2px 3px #000;
}
b{
	text-decoration: none;
	color: #F90;
	text-shadow:2px 3px #410;
	padding:3px;
}
b:hover{
	text-decoration: none;
	color: #FFF;
	text-shadow:1px 2px #333,
				2px 3px #000;
}
.global_box{
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
	margin:0px auto;
	padding:0px;
}
.h_box{
	width: 100%;
	border-bottom: 1px solid #105;
	background:#105;
}
.h_saytbar{
	
	border-bottom: 1px solid #007;
	width: 50%;
	background: #219;
	margin-left: 25%;
	border-radius:12px;
	border-left: 3px groove #F40;
	border-right: 3px groove #F40;
}
.logo{
	padding:4px;
	margin-left: 6.7%;
	position:absolute;
	width: 40px;
	height: 40px;
	border-radius:50%;
}
.logo_img{
	width: 40px;
	height: 40px;
	border-radius:50%;
}
.h_saytbar:hover{
	background: #43B;
	border-bottom: 1px solid #00A;
	border-left: 3px groove #FF0;
	border-right: 3px groove #FF0;
}


.h_saytbar_menu{
	font-family:corbel;
	font-size:18px;
	padding:8px;
	text-decoration: none;
	font-weight:600;
	color: #F90;
}
.h_saytbar_menu_fix{
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
	border: 3px groove #F70;
	border-radius:12px 6px 12px 6px;
	background:#309;
	
}
.h_saytbar_menu_fix:hover{
	border-radius:6px 12px 6px 12px;
	background:#669;
	border: 3px groove #FF0;
	
}

.h_saytbar_menu_fix_g{
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
	border: 3px groove #FF0;
	border-radius:12px 6px 12px 6px;
	background:#252525;
	
}
.h_saytbar_menu_fix_g:hover{
	border-radius:6px 12px 6px 12px;
	background:#5F5F5F;
	border: 3px groove #0F0;
	
}

.c_box{
	width: 100%;
	background-image: url(img/Body.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-position:fixed;
}
.c_box_content{
	z-index: 2;
	display:flex;
	padding:10px;
	
}
.c_menu{
	margin:5px;
	width: 15%;
	height:600px;
	padding:25px;
	background:rgba(51, 0, 153,0.8);
	border: 3px groove #F70;
	border-radius:35px 6px 6px 35px;
	overflow: auto;
	
}
.inform{
	margin:5px;
	height:600px;
	width: 85%;
	text-align:center;
	padding:25px;
	border: 3px groove #F70;
	font-family:corbel;
	font-size:17px;
	border-radius:6px 35px 35px 6px;
	background:rgba(51, 0, 153,0.8);
	overflow: auto;
}
.c_saytbar_menu_fix{
	text-align:center;
	border-radius:12px 6px 12px 6px;
	background:#309;
	display:block;
	font-family:Terminal;
	font-size:18px;
	border: 3px groove #F70;
	font-weight:600;
	overflow: hidden;
	
}
.c_saytbar_menu_fix:hover{
	border-radius:6px 12px 6px 12px;
	background:#669;
	border: 3px groove #FF0;
	
}
.c_saytbar_menu_name{
	text-align:center;
	border-radius:12px;
	background:#309;
	display:block;
	font-family:Terminal;
	font-size:20px;
	border: 4px groove #F70;
	font-weight:600;
	overflow: hidden;
}
.c_saytbar_menu_name:hover{
	border: 4px groove #FF0;
	border-radius:32px 32px 32px 32px;
	background:#669;
	color:#FFF;
}
.f_box{
	width: 100%;
	border-top: 1px solid #105;
	background:#105;
	height:55px;
}
.c_menu_a{
	margin-bottom:32px;
	padding:6px;
	background:rgba(255,255,255,0.2);
	border-radius:12px;
}
.c_menu_b{
	margin-top:32px;
	padding:6px;
	background:#335;
	background:rgba(255,255,255,0.2);
	border-radius:12px;
}
.c_menu_a:hover{
	background:rgba(255,255,255,0.3);
}
.c_menu_b:hover{
	background:rgba(255,255,255,0.3);
}
.title_text{
	border-radius:0px 0px 12px 12px;
	padding:12px;
	font-family:Comic Sans MS;
	font-size: 32px;
	background:rgba(00,35,75,0.7);
	font-weight:600;
	color:#FAFA00;
	border-left: 5px groove #FF0;
	border-right: 5px groove #FF0;
}
.block1_text{
	text-align:left;
	display:block;
	margin:7px;
	padding:7px;
	border-radius:12px 12px 12px 12px;
	font-family:Comic Sans MS;
	color:#F90;
	background:rgba(11,11,11,0.7);
	border-left: 5px groove #F40;
	border-right: 5px groove #F40;
	border-top:2px groove #F10;
	border-bottom:1px groove #F10;
}
.block2_text{
	text-align:left;
	display:block;
	margin:7px;
	padding:7px;
	border-radius:12px 12px 12px 12px;
	color:#F90;
	background:rgba(11,11,11,0.5);
	border-top:2px groove #333;
	border-bottom:1px groove #333;
	border-left: 3px groove #444;
	border-right: 3px groove #444;
}
.block2_text:hover{
	color:#FFF;
	background:rgba(70,80,90,0.7);
	border-top:2px groove #AAA;
	border-bottom:1px groove #999;
	border-left: 3px groove #DDD;
	border-right: 3px groove #DDD;
}
.block3_text{
	text-align:left;
	padding:6px;
	font-size: 32px;
	border-radius:12px 0px 0px 12px;
	color:#FF0;
	background:rgba(0,120,20,0.6);
	border-top:1px groove #F00;
	border-bottom:1px groove #F00;
	border-right: 2px groove #00F;
	border-left: 3px groove #F00;
	
}
.block3_text:hover{
	color:#0F0;
	background:rgba(0,0,200,0.6);
	border-top:1px groove #FF0;
	border-bottom:1px groove #FF0;
	border-left: 2px groove #0F0;
	border-right: 3px groove #FF0;
}
.block4_text{
	text-align:left;
	padding:6px;
	font-size: 32px;
	border-radius:0px 12px 12px 0px;
	color:#0F0;
	background:rgba(0,0,200,0.6);
	font-weight:600;
	border-top:1px groove #FF0;
	border-bottom:1px groove #FF0;
	border-left: 2px groove #0F0;
	border-right: 3px groove #FF0;
}
.block4_text:hover{
	color:#FF0;
	font-weight:600;
	background:rgba(0,120,20,0.6);
	border-top:1px groove #F00;
	border-bottom:1px groove #F00;
	border-right: 2px groove #00F;
	border-left: 3px groove #F00;
}
.block5_text{
	text-align:left;
	display:block;
	margin:7px;
	padding:7px;
	border-radius:12px 12px 12px 12px;
	font-size:17px;
	font-family:Comic Sans MS;
	color:#F90;
	background:rgba(11,11,11,0.3);
	border-left: 5px groove #F40;
	border-right: 5px groove #F40;
	border-top:2px groove #F10;
	border-bottom:1px groove #F10;
}
.c_r_text_box{
	font-size:28px;
	text-align:center;
	font-family: Segoe Script;
	color:#F90;
	text-shadow:1px 2px #410,
				2px 3px #000;
	padding:12px;
	border-radius:12px;
	background:rgba(255,255,255,0.2);
	border-radius:12px;
	
	overflow: hidden;
}