body{
		background: url(img/body.jpg)
		}

		.header{
		width: 100%;
		text-align: center;
		float: center;
		border-radius:12px;
		}
		
		.headerr{
		width: 99%;
		background: url(img/head.png);
		text-align: center;
		float: center;
		margin: 3px;
		padding: 3px;
		border-radius:12px;
		}
		
		.logo{
			
		}
		
		.title{
		font-family: gabriola;
		font-size: 80px; 
		Color: #FFF;
		float: center;
		border-radius:12px;
		}
		
		.hudbar{
		display:inline-block;
		background: url(img/bar.png);
		width: 99%;
		float: center;
		text-align: center;
		padding: 3px;
		margin: 3px;
		border-radius:12px;
		}
		
		.hudbarr{
		display:inline-block;
		background: url(img/bar.png);
		width: 100%;
		float: center;
		text-align: center;
		padding: 3px;
		margin: 3px;
		border-radius:12px;
		}
		
		.menu{
		font-family: gabriola;
		font-size: 25px; 
		border-radius:12px;
		
		}
		
		.pp{
		 display: inline;
		 list-style-type: none;
		  margin-right: 80px;
		  border: 1px solid #FFF;
		  border-radius:12px;
		  
		}
		
		.pl{
		padding: 12px;
		text-decoration: none;
		Color: #FFF;
		border-radius:12px;
		}
		
		.center{
		
		}
		
		.info{
		width: 79%;
		min-height: 800px;
		float: left;
		background: url(img/info.jpg);
		border-radius:12px;
		margin-left: 0.4%;
		
		}
		
		.sitybar
		{
		width: 20%;
		min-height: 800px;
		float: right;
		background: url(img/siyt.jpg);
		margin-right: 0.2%;
		border-radius:12px;
		font-size:24px;
		}
		
		.lpp{
		 list-style-type: none;
		  margin-right: 80px;
		  border-radius:12px;
		}
		
		.pll{
		padding: 12px;
		text-decoration: none;
		font-family: Comic Sans Ms;
		border-radius:12px;
		}
		
		.clear{
			clear:both;
			border-radius:12px;
		}
		
		.footer{
		width: 100%;
		min-height: 100px;
		border-radius:12px;

		padding: 3px;
		margin: 3px;
		border-radius:12px;
		}
		.footerr{
		width: 99.1%;
		min-height: 100px;
		background: url(img/footer.jpg);
		border-radius:12px;
		
		}
.textt{
	font-size:24px;
	text-align:center;
	font-family:arial;
	color:#F90
}	
	
}